<form class="formulario" #loginForm="ngForm" (ngSubmit)="PedirAconselhamento(loginForm.value)" >
  <div class="main" id="input-field">
    <div class="iconOption">
      <div class="opcao">
        <div class="bgOption"> <img class="aconselhamentoLogo" src="../../../assets/aconselhamento.png" alt="Aconselhamento"> </div>
        Peça umm aconselhamento</div>
    </div>
    <div class="input-fields">
      <input name="name" ngModel placeholder="Name" id="name" type="text" class="input-field" />
    </div>
    <div class="input-fields-data">
      <input name="data" ngModel placeholder="data" id="data" type="tel" class="input-field" [(ngModel)]="myDate"/>
    </div>
    <div class="input-fields">
      <input mask="(00) 90000-0000" name="numero" ngModel id="numero" placeholder="Número" type="datetime" class="input-field" />
    </div>
    <div class="input-fields-data">
      <input name="banco" ngModel placeholder="banco" id="banco" type="text" class="input-field" [(ngModel)]="banco"/>
    </div>
    <button class="enviar"> Enviar </button>
  </div>
  </form>


