<div class="main-home">

  <ul class="opcoes">
    <li class="opcao">
      <a routerLink="/pedidos"><div class="bgOption"> <img class="pedidoLogo" src="../../../assets/pedido.png" alt="Pedidos de oração"></div></a>
      <p>Pedido de oração</p></li>
    <li class="opcao">
      <a routerLink="/aconselhamento"><div class="bgOption"> <img class="aconselhamentoLogo" src="../../../assets/aconselhamento.png" alt="Aconselhamento"> </div></a>
      <p>Aconselhamento</p></li>
    <li class="opcao">
      <a routerLink="/nossas-celulas"><div class="bgOption"> <img class="celulasLogo" src="../../../assets/celulas.png" alt="Nossas células"> </div></a>
      <p>Nossas células</p></li>
    <li class="opcao">
      <a routerLink="/posicionamento"><div class="bgOption"> <img class="posicionamentoLogo" src="../../../assets/posicionamento.png" alt="Posicionamento"> </div></a>
      <p>Posicionamento</p></li>
  </ul>

</div>
