<form class="formulario" #form="ngForm" (ngSubmit)="criar(form.value)" >
  <div class="main" id="input-field">
    <div class="iconOption">
      <div class="opcao">
        <div class="bgOption"> <img class="pedidoLogo" src="../../../../assets/pedido.png" alt="Pedidos de oração"> </div>
        Faça seu pedidoo</div>
    </div>
    <div class="input-fields">
      <input name="name" ngModel placeholder="Name" id="name" type="text" class="input-field" />
    </div>
    <div class="input-fields">
      <select name="categoria" ngModel id="categoria">
          <option value="" class="placeSelect"  disabled selected> Classifique o seu pedido </option>
          <option value="Vida espiritual">Vida espiritual</option>
          <option value="Cura">Cura</option>
          <option value="Casamento">Casamento</option>
          <option value="Outros"> Outros </option>
      </select>
  </div>
    <div class="input-fields">
      <textarea name="pedido" ngModel placeholder="Faça seu pedido" id="pedido" type="text" class="input-field"></textarea>
    </div>
    <div class="input-fields-data">
      <input name="data" ngModel placeholder="data" id="data" type="tel" class="input-field" [(ngModel)]="myDate"/>
    </div>
    <div class="input-fields-data">
      <input name="banco" ngModel placeholder="banco" id="banco" type="text" class="input-field" [(ngModel)]="banco"/>
    </div>
    <div class="input-fields">
      <input mask="(00) 90000-0000" name="numero" ngModel id="numero" placeholder="Número" type="datetime" class="input-field" />
    </div>
    <button class="enviar"> Enviar </button>
  </div>
  </form>

